<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>URL Cutter</title>
</head>
<body>
    <div class="container">
        <h1>URLCUTTER</h1>

        <ul id="linkList">
            <% links.forEach(link => { %>
                <li>
                    <span>
                        <a href="http://<%= link.complete_link %>" target="_blank"><%= link.name %></a>
                    </span> 
                    <div>
                        <span class="icon-text" onclick="window.open(`http://<%= link.complete_link %>`)">Acessar</span>
                        <span class="icon-text" onclick="deleteLink('<%= link.name %>')">Deletar</span>
                        <span class="icon-text" onclick="openModal('<%= link.name %>', '<%= link.complete_link %>')">Editar</span>
                    </div>
                </li>
            <% }) %>
        </ul>

        <div class="add-link">
            <form id="addLinkForm" onsubmit="addLink(event)">
                <input type="text" id="name" placeholder="Nome" required>
                <input type="text" id="complete_link" placeholder="Link" required>
                <button type="submit">Adicionar Link</button>
            </form>
        </div>
    </div>

    <div id="editModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Editar Link</h2>
            <form id="editLinkForm">
                <input type="text" id="editName" placeholder="Novo Nome" required>
                <input type="text" id="editCompleteLink" placeholder="Link" required>
                <button onclick="updateLink(event)">Atualizar Link</button>
            </form>
        </div>
    </div>
    
    <script src="main.js"></script>
</body>
</html>
